@font-face {
	font-family:  'Lato-Black';
	src: url('../fonts/Lato-Black.eot');
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Black.svg') format('svg'),
		url('../fonts/Lato-Black.ttf') format('truetype'),
		url('../fonts/Lato-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BlackItalic';
	src: url('../fonts/Lato-BlackItalic.eot');
	src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-BlackItalic.svg') format('svg'),
		url('../fonts/Lato-BlackItalic.ttf') format('truetype'),
		url('../fonts/Lato-BlackItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.svg') format('svg'),
		url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('../fonts/Lato-BoldItalic.eot');
	src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-BoldItalic.svg') format('svg'),
		url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
		url('../fonts/Lato-BoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-Italic';
	src: url('../fonts/Lato-Italic.eot');
	src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Italic.svg') format('svg'),
		url('../fonts/Lato-Italic.ttf') format('truetype'),
		url('../fonts/Lato-Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-Light';
	src: url('../fonts/Lato-Light.eot');
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Light.svg') format('svg'),
		url('../fonts/Lato-Light.ttf') format('truetype'),
		url('../fonts/Lato-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-LightItalic';
	src: url('../fonts/Lato-LightItalic.eot');
	src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-LightItalic.svg') format('svg'),
		url('../fonts/Lato-LightItalic.ttf') format('truetype'),
		url('../fonts/Lato-LightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.svg') format('svg'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*.container{
	padding: 0px;
}
body{
	font-family: 'nice';
}
.adverst .carousel-indicators .active{
	background-color: orange;
}
.adverst .carousel-indicators li {
	background-color: grey;
	border: none;
}
.menu{
	z-index: -1;
}
.menu ul>li{
	display: inline-block;
	padding: 19px 11px;
}
.menu ul>li>a{
	font-family: 'nice';
	padding-top: 15px;
	position: relative;
	color: white;
}
.menu ul>li>a:before{
	position: absolute;
	background-color: #5fc7e6;
	content: "";
	transition: 0.3s;
	height: 0px;
}
.menu ul>li>a:hover{
	color: #5fc7e6;
	text-decoration: none;
}
.menu ul>li>a:hover:before{
	width: 100%;
    top: -2px;
	height: 3px;
}
.banner{
	padding-bottom: 60px;
	position: relative;
}
.banner >.container{
	position: absolute;
    top: 1px;
    z-index: 1;
    left: 0%;
    right: 0%;
}
#myCarousel1 img{
	width: 100%;
}
#myCarousel1 .carousel-indicators{
	left: 79%;
	top: 75%;
}
#myCarousel1 .carousel-caption{
	left: 58%;
    right: 0%;
    top: 40%;
}
#myCarousel1 .carousel-caption h3{
    color: whitesmoke;
    font-size: 50px;
    font-family: nice;
    text-align: center;
    padding-bottom: 25px;
}
#myCarousel1 .banner-content{
    margin: 0px 121px;
    font-size: 15px;
    line-height: 22px;
    border-top: 1px solid white;
    padding-top: 25px;
}
#myCarousel1 .banner-content>p{
	font-weight: bold;
	font-family: 'nice';
}*/
#wrapper {
	width: 100%;
}
#header {
	position: absolute;
	text-align: center;
	z-index: 1000;
	color: #fff;
	height: 85px;
	margin-top: 10px;
	width: 100%;
	transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
	-o-transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
	-moz-transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
	-webkit-transition: all 0.3s cubic-bezier(0,0,0.58,1) 0s;
}
.logo {
	padding-top: 10px;
}
#navbar {
	position: static;
	float: right;
	margin-top: 10px
}
#navbar > ul > li >  a {
	font-family: 'nice';
	text-transform: uppercase;
	color: white;
}
#navbar > ul > li.active a { 
	background-color: #1f987d;
	color: black;
}
#navbar > ul > li a:hover {
	color: #1f987d;
}
#navbar > ul > li > a:focus, #navbar > ul > li > a:hover {
	background: transparent;
}

/*slider */
#slider {
	position: relative;
}
.img-100 {
	width: 100%;
	height: 100%;
}
.single-slider {
}

.single-slider .carousel-caption {
	padding-top: 50px;
	top: 40%;
}
.single-slider .carousel-caption h3 {
	font-size: 50px;
	text-transform: uppercase;
	opacity: 1;
	z-index: 5;
	color: #fff;
	font-family: "open-sans", Arial, sans-serif;
}
.single-slider .carousel-caption p {
	color: #f9ad18;
	opacity: 1;
	font-size: 17px;
	font-weight: 100;
	z-index: 100;
	font-family: "open-sans", Arial, sans-serif;
}
#slider .slide a.carousel-control {
	background-color: #1f987d;
	background-image: none;
	color: #fff;
	font-size: 50px;
	height: 80px;
	line-height: 70px;
	top: 40%;
	width: 50px;
	z-index: 100;
}
#slider .slide a.left {
	left: 7%;
}
#slider .slide a.right {
	right: 7%;
}
#slider .slide a.carousel-control i {
	color: #fff;
}
.header-title{
	padding: 15px 0px;
	background-color: #ac001c;
}
.header-title h1{
	 color: white;
    font-family: 'nice';
    font-weight: bold;
}
.spot {
	padding-top: 50px;
}

.footer {
	padding-top: 40px;
	background-color: #1f987d;
    color: #31302c;
    position: relative;
}
.footer h2{
    font-weight: bold;
    margin: 10px 0px;
}
.footer p,.footer li{
	font-family: Arial;
    font-size: 16px;
    line-height: 20px;
}
.footer .content {
	padding-top: 10px;
} 
.footer li {
	padding-bottom: 10px;
}
.footer li a {
	text-decoration: none;
}
.footer a:hover {
	color: #ccc;
}
.footer #social-icon li{
	display: inline-block;
}
.footer #social-icon a{
	background-color: #052B5B;
    color: #d0ccc1 
}
.footer #social-icon .content{
	padding-top: 9px;
}
.footer #social-icon p{
	margin-top: 29px;
}
.footer #social-icon a:hover{
	text-decoration: none;
}
.footer .footertext {
	padding: 15px 0px 15px 0px;
    border-top: 1px solid #a9a79b;
}
.footer  .footer-link {
	padding-bottom: 20px;
}
.footer  .footer-logo{
	position: absolute;
	left: 43%;
    right: 45%;
    top: 77%;
} 